<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="admin.html" />

  <head>
    <title>CGI Unfied Portal Integration</title>
  </head>

  <body>
    <h1>CGI Unified Portal</h1>
    <form method="post" action="">
      <input type="text" name="issuer" value="${issuer}" class="slim" />
      <input type="text" name="key" value="${key}" class="slim" />
      <input type="text" name="namespace" value="${namespace}" class="slim" />
      <input type="text" name="queuename" value="${queuename}" class="slim" />
      <button type="submit" class="btn btn-mini btn-primary" value="Submit">
	<i class="fa fa-check fa-inverse"></i> Submit
      </button>
    </form>
  </body>
</html>
